.table {
    @apply border-gray-500 border-4;
}

.thead {
    @apply border-gray-500 border-2 text-xl;
}

.rowhead {
    @apply px-2 border-2 border-gray-500;
}

.row {
    @apply p-2 border-2 border-gray-500;
}

.greenrow {
    background-color: green;
}

.redrow {
    background-color: red;
}

.yellowrow {
    background-color: yellow;
}

.buttonedit {
    @apply rounded-full p-2 hover:bg-yellow-300;
}