.container1 {
  @apply shadow flex flex-col w-full mt-2 h-56 px-4;
}

.container2 {
  @apply shadow flex flex-col w-full my-2 px-4;
}

.containernew {
  @apply shadow flex flex-col w-full my-2 h-40 px-4;
}

.containerold {
  @apply shadow flex flex-col w-full my-2 h-48 px-4;
}

.btncontainer1 {
  @apply flex justify-around w-full my-5 mt-6;
}

.btncontainer2 {
  @apply flex justify-around w-full my-5 mt-7;
}

.btngrid {
  @apply grid grid-cols-12 gap-3;
  width: 90%
}

.btntime {
  @apply text-sm font-bold py-1 px-1 rounded-full nm-flat-gray-100 hover:bg-green-400;
}

.buttonclick {
  @apply nm-flat-green-400;
}

.radiocontainer {
  @apply flex flex-row w-full my-3 px-4 justify-around;
}

.h2 {
  @apply text-center my-2 font-bold;
}

.h4 {
  @apply mr-3;
}

.inputblock {
  @apply nm-inset-gray-300 border rounded-xl p-2 focus:outline-none focus:bg-white focus:border-gray-500;
  width: 90%;
  max-width: 90%;
}

.input {
  @apply nm-inset-gray-100 border rounded-xl p-2 focus:outline-none focus:bg-white focus:border-gray-500;
  width: 90%;
  max-width: 90%;
}

.time {
  @apply w-full;
}